*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: whitesmoke;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.text-shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

// Form Validation
.input-control.success input {
	border-color: #09c372;
}

.input-control.error input {
	border-color: #ff3860;
}

.text-shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
